*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Header ----------*/

.header-menu{
    width: 100%;
    height: 6rem;
    position: fixed;
    z-index: 1;
}

.header-menu-color{
    background: black;
}

.menu{
    padding: 31.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 8rem;
    display: flex;
    align-items: center;
}

.logo img{
    width: 33px;
    height: 33px;
}

.logo a{
    padding-left: 0.5rem;
    color: white;
    text-decoration: none;
}

.links a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    display: inline-block;
}

.links{
    padding-right: 9rem;
}

@media (max-width: 1010px){
    .menu{
        justify-content: center;
    }
    .logo{
        padding-right: 2rem;
    }
    .links{
        padding-right: 2rem;
    }
}

/* First section */

.front-page{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(backimg.jpg);
}

#init{
    position: absolute;
    top: 0;
}

.front-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 43%;
}

.front-text h1{
    color: white;
    text-transform: uppercase;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}

.front-text p{
    color: rgba(255, 255, 255, 0.548);
    text-align: center;
    width: 35rem;
}

@media (max-width: 570px){
    .front-text p{
        width: 30rem;
    }
}

/* Practice section ----------*/

.practices{
    min-width: 100%;
    position: relative;
    height: 120vh;
    background-color: #f4f4f4;
}

#practices{
    position: absolute;
    top: -5%;
}

.practices-main {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.practices-main h1{
    text-transform: uppercase;
    line-height: normal;
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.practices-main p{
    text-align: center;
    width: 35rem;
    font-size: 1.2rem;
}

.grid-practices-absolute{
    position: absolute;
    width: 100%;
    top: 35%;
}

.grid-practices{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 7rem;
    padding-right: 7rem;
}

.grid-practices div{
    margin-top: 2rem;
    padding: 1.4rem 1.2rem 3rem 1.2rem;
    position: relative;
}

.grid-practices h2{
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.grid-practices p{
    text-align: center;
}

.grid-practices div img{
    position: absolute;
    padding-bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    top: -25%;
}

.practices a{
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    color: white;
    background: darkblue;
    padding: 1rem 1.5rem;
}

.practices a:hover{
    cursor: pointer;
    color: black;
    background: white;
    border: 2px solid black;
    transition: all 300ms ease-in-out;;
}

@media (min-width: 751px) and (max-width: 1250px){
    .grid-practices{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .practices{
        height: 200vh;
    }
    .practices a{
        top: 90%;
    }
    .grid-practices-absolute{
        top: 24%;
    }
    .practices-main{
        top: 8%;
    }
    .grid-practices div{
        padding: 2.4rem 1.6rem 5rem 1.6rem;
    }
    .grid-practices div img{
        top: -15%;
    }
    
}

@media (max-width: 750px){
    .grid-practices{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .practices{
        height: 250vh;
    }
    .practices a{
        top: 95%;
    }
    .grid-practices-absolute{
        top: 14%;
    }
    .practices-main{
        top: 4%;
    }
    .grid-practices div{
        padding: 1.7rem 1.2rem 4rem 1.7rem;
    }
    .grid-practices div img{
        top: -15%;
    }
}

/* Partners Section ----------*/

.partners{
    min-width: 100%;
    height: 70vh;
    position: relative;
}

.partners-main{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}

.partners-main h1{
    text-transform: uppercase;
    font-size: 2rem;
}

.grid-partners-absolute{
    position: absolute;
    top: 30%;
    width: 70%;
    right: 47%;
    transform: translateX(50%);
}

.grid-partners{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2rem;
}   

.grid-partners div{
    width: 80px;
    height: 80px;
    padding: 0 0 8rem 0;
}

@media (min-width: 851px) and (max-width: 1250px){
    .grid-partners{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .partners{
        height: 80vh;
    }
}

@media (min-width: 750px) and (max-width: 850px){
    .grid-partners{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .partners{
        height: 100vh;
    }
    .partners-main{
        top: 12%;
    }
    .grid-partners-absolute{
        top: 20%;
    }
}

@media (max-width: 750px){
    .grid-partners{
        grid-template-columns: 1fr;
    }

    .partners{
        height: 200vh;
    }
    .partners-main{
        top: 6%;
    }
    .grid-partners-absolute{
        top: 10%;
        right: 25%;
    }
} 

/* Section tools ----------*/

.tools{
    width: 100%;
    height: 100vh;
    background: rgb(30,35,43);
    position: relative;
}

#tools{
    position: absolute;
    top: -5%;
}

.grid-tools-absolute{
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
}

.grid-tools{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-tools div{
    background: rgb(51,59,72);
    padding: 1rem;
    margin: 1rem;
    width: 580px;
    height: 250px;
    position: relative;
}

.grid-tools div h2{
    color: white;
    text-transform: uppercase;
    padding-top: 1.4rem;
    padding-left: 4rem;
}

.grid-tools div p{
    color: gray;
    padding-top: 1rem;
    width: 320px;
    text-align: center;
    font-size: 0.9rem;
    padding-left: 1.5rem;
}

.grid-tools div a{
    text-decoration: none;
    color: black;
    background: rgb(179, 179, 19);
    padding: 1rem 3rem;
    position: absolute;
    top: 70%;
    left: 20%;
}

.grid-tools div a:hover{
    cursor: pointer;
    color: rgb(179,179,19);
    background: rgb(51,59,72);
    border: 2px solid rgb(179,179,19);;
}

@media (max-width: 1250px){
    .grid-tools{
        grid-template-columns: 1fr;
    }
    .tools{
        height: 180vh;
    }
    .grid-tools-absolute{
        top: 8%;
    }
}



